<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<!--<script src="//www.bing.com/widget/bootstrap.answer.js" async=""></script>

	<div class="bingwidget" data-type="covid19_stats_map" data-market="en-us" data-language="en-us" data-app="bingwidget"></div>


	<p>Covid Modules Stats, Map, Trends</p>
	<div class="bingwidget" data-type="covid19_modules" data-modules='[{"_type": "stats", "location-id":"/United States/New York"}, {"_type": "stats", "location-id":"/United States"}, {"_type": "stats", "location-id":"/"}, {"_type": "trends", "location-id":"/United States"}, {"_type": "map", "location-id":"/United States/New York"}]'></div>

	<p>Covid Modules Stats</p>
	<div class="bingwidget" data-type="covid19_modules" data-modules='[{"_type": "stats", "location-id":"/Spain"}, {"_type": "stats", "location-id":"/Italy"}, {"_type": "stats", "location-id":"/United States"},  {"_type": "stats", "location-id":"/"}]'></div>

	<p>Covid Modules Map</p>
	<div class="bingwidget" data-type="covid19_modules" data-modules='[{"_type": "map", "location-id":"/United States/New York"}]'></div>

	<p>Covid Modules Trends</p>
	<div class="bingwidget" data-type="covid19_modules" data-modules='[{"_type": "trends", "location-id":"/United States"}]'></div>-->


	
	<div class="container">
	    <div class="row">
	        <div class="col-md-6">
	            <div class="chart" id="bargraph">
	            	<script>
				        var graphs = {{ plot | safe }}; 
				        Plotly.plot('bargraph',graphs,{});
				    </script>
	            </div>
	        </div>
	    </div>
	</div>



	
</body>
</html>